[core]
	excludesfile = ~/.gitignore_global
[user]
	name = Alex Pagnotta
	email = ap.alex.pagnotta@gmail.com
[diff]
    tool = vscode
[merge]
    tool = vscode
[difftool "vscode"]
    cmd =  $(brew --prefix)/bin/code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
    cmd =  $(brew --prefix)/bin/code --wait $MERGED